!!!
%html{:class => "no-js"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= current_page.data.title
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no"}

    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }

    %meta{:content => "", :property => "og:title"}
    %meta{:content => "", :property => "og:image"}
    %meta{:content => "", :property => "og:url"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "", :property => "og:description"}

    = stylesheet_link_tag "styles"

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => "#navbar-main"}
    = yield

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
    = javascript_include_tag "application"
